---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="logo-container">
			<a href="/">
				<img src="/images/LACOFE_FoodSystems_wht.webp" alt="LA Food Systems" class="logo" />
			</a>
		</div>
		<div class="subtitle">
			<span>Los Angeles County Food Systems</span>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #383838;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	
	.logo-container {
		display: flex;
		justify-content: center;
		flex: 1;
	}
	
	.logo {
		height: 60px;
		width: auto;
		padding: 1em 0;
	}
	
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	
	.subtitle {
		position: absolute;
		right: 0;
		color: white;
		font-size: 0.9em;
	}
	
	nav a {
		padding: 1em 0.5em;
		color: white;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		.subtitle {
			display: none;
		}
		nav {
			justify-content: center;
		}
	}
</style>
